@font-face {
    font-family: 'NewComputerModernSans10';
    src: url('NewCMSans10-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewComputerModernSans10';
    src: url('NewCMSans10-BoldOblique.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewComputerModernSans10';
    src: url('NewCMSans10-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewComputerModernSans10';
    src: url('NewCMSans10-BookOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

