@font-face {
    font-family: 'NewComputerModernMath';
    src: url('NewCMMath-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewComputerModernMath';
    src: url('NewCMMath-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}