@font-face {
    font-family: 'NewComputerModernSans08';
    src: url('NewCMSans08-BookOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewComputerModernSans08';
    src: url('NewCMSans08-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}